/* desktop */

.desk-main {
    position: relative;
    background-color: #fff8dd;
    width: 100vw;
    font-family: Itim;
    z-index: -99;
}

.desk-scene {
    position: absolute;
    bottom: -25vh;
}

.desk-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
}

.desk-title {
    font-family: Kanit;
}

.desk-header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.desk-header-content {
    position: absolute;
    top: 23vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    text-align: center;
}

.desk-header-content .desk-title {
    color: #bf7c40;
    text-align: left;
    font-size: 7vh;
}

.desk-header-content p {
    color: #4d4032;
    text-align: left;
    font-size: 2.5vh;
    width: 65%;
}

.desk-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desk-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.desk-section-1 {
    background-color: #b5be6d;
    z-index: -1;
    padding-top: 17vh;
    padding-bottom: 5vh;
}

.desk-section-1 .desk-title {
    color: #537d41;
    font-size: 4vh;
}

.desk-section-1 p {
    font-size: 2vh;
}

.desk-scene-s1-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.desk-s1-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

.desk-s1-b {
    position: absolute;
    width: 100vw;
    bottom: -10vh;
    z-index: -1;
}

.desk-section-2 {
    background-color: #77a275;
    z-index: -2;
    padding-top: 25vh;
    padding-bottom: 15vh;
}

.desk-section-2 .desk-title {
    color: #2e583c;
    font-size: 4vh;
}

.desk-section-2 p {
    font-size: 2vh;
}

.desk-scene-s2-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.desk-s2-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

.desk-s2-b {
    position: absolute;
}

/* mobile css */

.mob-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff8dd;
}

.mob-layer {
    position: absolute;
    /* top: 50%; */
    width: 100vw;
    object-fit: cover;
    bottom: -10vh;
}

.mob-content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease-in-out 1s;
    text-align: center;
    color: white;
}

.mob-content .mob-title {
    font-family: Kanit;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

.mob-content .mob-sub-title {
    font-family: Itim;
    font-size: 2vh;
}


.mob-header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.mob-scene {
    position: absolute;
    bottom: -25vh;
}

.mob-header-content {
    position: absolute;
    top: 23vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
}

.mob-header-content .mob-title {
    color: #BF7C40;
    text-align: center;
    font-size: 5vh;
}

.mob-header-content p {
    font-family: Itim;
    color: #4d4032;
    text-align: center;
    font-size: 2vh;
    width: 100%;
    margin-top: 2rem;
}

.mob-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.mob-section-1 {
    background-color: #b5be6d;
    z-index: -1;
    padding-top: 6vh;
    padding-bottom: 5vh;
    height: auto;
}

.mob-section-1 .mob-title {
    color: #FFF8DD;
    font-size: 3.5vh;
    text-align: center;
}

.mob-section-1 p {
    font-size: 2vh;
    font-family: Itim; 
}

.mob-scene-s1-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-35%);
    width: 100%;
    
}

.mob-s1-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

.mob-s1-b {
    position: absolute;
    width: 100vw;
    bottom: -10vh;
    z-index: -1;
}

.mob-section-2 {
    background-color: #77a275;
    z-index: -2;
    padding-top: 25vh;
    padding-bottom: 15vh;
}

.mob-section-2 .mob-title {
    color: #2e583c;
    font-size: 4vh;
}

.mob-section-2 p {
    font-size: 2vh;
}

.mob-scene-s2-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.mob-s2-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

.mob-s2-b {
    position: absolute;
    bottom: -20vh;
}

