.content-wrap {
    width: 100vw;
    overflow-x: hidden;
}

/* desktop */

.desk-main {
    position: relative;
    background-color: #FFF8DD;
    width: 100vw;
    font-family: Itim;
    z-index: -99;
    overflow-x: hidden;
}

.desk-scene {
    position: absolute;
    bottom: -50vh;
}

.desk-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
}

.desk-title {
    font-family: Kanit;
}

.desk-header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.desk-header-content {
    position: absolute;
    top: 23vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    text-align: center;
}

.desk-header-content .desk-title {
    color: #275E85;
    text-align: left;
    font-size: 7vh;
}

.desk-header-content p {
    color: #4D4032;
    text-align: left;
    font-size: 2.5vh;
    width: 65%;
}

.desk-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desk-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}



.desk-section-1 {
    background-color: #275E85;
    z-index: -1;
    padding-top: 17vh;
}

.desk-fish-layer {
    position: absolute;
    bottom: 0;
    left: 5em;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.desk-section h2 {
    color: #CADDDA;
    font-size: 4vh;
}

.desk-section-1 .desk-title {
    color: #537d41;
    font-size: 4vh;
}

.desk-section-1 p {
    font-size: 2vh;
    color: #ffffff;
}

.desk-scene-s1-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.desk-s1-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

#mySVG {
    position: relative;
    top: 15%;
    width: 400px;
    height: 210px;
    margin-left: -25%;
}

.desk-crop-wrap {
    position: relative;
    height: 270px;
}


.desk-crop-layer {
    position: absolute;
    top: 0;
    width: 90%;
    object-fit: cover;
}

.desk-benefit-section {
    background-image: url("../assets/page2/benefit-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 10vh;
}

.desk-benefit-section h2,
.desk-benefit-section p {
    color: #0F2B53;
}

h2 {
    font-size: 5vh;
}

p {
    font-size: 2vh;
}

.desk-s1-b {
    position: absolute;
    bottom: -10vh;
}

.animate {
    animation: slide-right .3s forwards;
}

.reverse-animate {
    animation: slide-right .3s forwards reverse;
}

#title-animation {
    position: relative;
    opacity: 0;
    left: 20vw;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        left: 20vw !important;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}



/* mobile css */

.mob-main {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    background-color: #fff8dd;
    overflow-x: hidden;
    z-index: -99;
}

.mob-layer {
    position: absolute;
    /* top: 50%; */
    width: 100vw;
    object-fit: cover;
    bottom: -10vh;
}

.mob-content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease-in-out 1s;
    text-align: center;
    color: white;
}

.mob-title {
    font-family: Kanit;
}

.mob-content .mob-title {
    font-family: Kanit;
    font-size: 3vh;
    padding: 0;
    margin: 0;
    
}

.mob-content .mob-sub-title {
    font-family: Itim;
    font-size: 2vh;
}


.mob-header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.mob-scene {
    position: absolute;
    bottom: 0;
}

.mob-header-content {
    position: absolute;
    top: 23vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
}

.mob-header-content .mob-title {
    color: #275E85;
    text-align: center;
    font-size: 5vh;
}

.mob-header-content p {
    font-family: Itim;
    color: #4d4032;
    text-align: center;
    font-size: 2vh;
    width: 100%;
    margin-top: 2rem;
}

.mob-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.mob-section-1 {
    background-color: #275E85;
    z-index: -1;
    padding-top: 6vh;
    padding-bottom: 5vh;
    height: auto;
}

.mob-section-1 .mob-title {
    color: #FFF8DD;
    font-size: 3.5vh;
    text-align: center;
}

.mob-section-1 p {
    font-size: 2vh;
    font-family: Itim;
}

.mob-s1-layer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    object-fit: cover;
}

.mob-animate {
    animation: slide-left .3s forwards;
}

.mob-reverse-animate {
    animation: slide-left .3s forwards reverse;
}

#mob-title-animation {
    position: relative;
    opacity: 0;
    right: 20vw;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        right: 20vw !important;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}


#mymobSVG {
    position: relative;
    top: 15%;
    width: 100vw;
    height: 100vh;
    margin-left: -25%;
    z-index: -99;
}

.mob-s1-b {
    position: absolute;
    width: 100vw;
    bottom: -10vh;
    z-index: -1;
}

.mob-crop-wrap {
    position: relative;
    /* height: 270px; */
}


.mob-crop-layer {
    position: absolute;
    top: 0;
    width: 60%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}


